@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.main-header-content.inner {
  background: rgba(0,0,0,.8);
  border-radius: 10px;
  padding: 1em;
}
