@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.no-cover .main-header-content.inner {
  background: none;
}

.main-header-content.inner {
  background: rgba(0,0,0,.8);
  border-radius: 10px;
  padding: 1em;
}

.no-cover.main-header,
.no-cover.post-head.main-header {
  height: 200px;
  background-image: url('/images/bg.png');
  background-color: transparent;
}

.nav-closed .no-cover .menu-button {
  background-color: white;
}

.menu-button {
  border-width: 3px;
  height: 42px;
  box-shadow: 0px 0px 2px white;
}


.read-next-story .post:before {
  content: "Here's one"
}

.read-next-story.prev .post:before {
    content: "This one's good too";
}

.read-next.next {
  margin-top: 0;
  .read-next-story .post:before {
      content: "Why not this one?";
  }

  .read-next-story.prev .post:before {
      content: "OK, one more";
  }
}

.read-next-story.no-cover {
  background-image: url('/images/bg.png');
  background-repeat: repeat-x;
}

.page-title a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.home-template .page-title {
  animation: none;
}

.home-template .page-description {
  animation-delay: 0.1s;
}
